
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-right">Rang</th>
        <th scope="col" class="text-right">Belohnung</th>
        <th scope="col" class="text-right">Kosten</th>
        <th scope="col" class="text-right">Absicherung</th>
        <th scope="col" class="text-right">Sniping</th>
        <th scope="col" class="text-right">Summe</th>
        <th scope="col" class="text-right">Rest</th>
        <th scope="col">offen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cost of costs.rankData" [ngClass]="cost.highRisk ? 'bg-danger text-white' : '' ">
        <th scope="row" class="text-right">{{ cost.rank | number }}</th>
        <td class="text-right">{{ cost.reward > 0 ? cost.reward : "-"}}</td>
        <td class="text-right">{{ cost.cost > 0 ? cost.cost : "-" }}</td>
        <td class="text-right" [ngSwitch]="cost.hedge > 0">
          <span *ngSwitchCase="true">{{ cost.hedgeTotal | number }} (+{{ cost.hedge | number }})</span>
          <span *ngSwitchDefault>-</span>
        </td>
        <td class="text-right">{{ cost.snipingCost > 0 ? cost.snipingCost : "-" }}</td>
        <td class="text-right">{{ cost.alreadyPaid | number }}</td>
        <td class="text-right">{{ cost.rest | number }}</td>
        <td>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="openSlot[cost.rank - 1]" id="slot-{{ cost.rank - 1 }}" (change)="changeSummary()">
            <label class="custom-control-label" for="slot-{{ cost.rank - 1 }}"></label>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row" colspan="5" class="text-right">Gesamtkosten</th>
        <td class="text-right">{{ costs.buildingCost }}</td>
        <td class="text-right">-</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="row justify-content-between">
  <div class="col-4">
    <label><input [(ngModel)]="prefix" placeholder="Prefix" type="text" (change)="changeSummary()" /></label><br />
    <label><input [(ngModel)]="suffix" placeholder="Suffix" type="text" (change)="changeSummary()" /></label>
  </div>
  <div class="col-8 text-right">
    <button type="button" class="btn btn-primary" *ngIf="summary" (click)="copy2Clipboard()">{{ summary }}</button>
  </div>
</div>
