<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-level-selector></app-level-selector>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-sniping></app-sniping>
    </div>
  </div>
  <div class="clearfix">&nbsp;</div>
  <div class="row">
    <div class="col">
      <app-cost-table></app-cost-table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-summary></app-summary>
    </div>
  </div>
</div>
