<div class="container">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ lgCalcTitle }}</a>
        <a class="nav-item nav-link" href="#" routerLink="/own-share" routerLinkActive="active">{{ ownShareTitle }}</a>
      </div>
    </div>
  </nav>

  <div class="clearfix">&nbsp;</div>

  <router-outlet></router-outlet>
</div>
